/* Start main rules */
body {
    background-color: #eee;
    margin: 0;
    padding-bottom: 60px;
}
/* End main rules */

.navbar {
    border-radius: 0;
}

/* Start footer */
.footer {
    background-color: #333;
    color: #eee;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}
/* End footer */

/* Start main post */
.main-post {
    margin-top: 15px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    margin-bottom: 15px;
}

.main-post h3 {
    margin: 0 0 10px;
    font-weight: bold;
    color: #777;
    letter-spacing: -1px;
}

.main-post .post-author,
.main-post .post-date,
.main-post .post-comments {
    font-size: 14px;
}

.main-post img {
    display: block;
    margin: 10px 0 10px;
}

.main-post .post-content {
    line-height: 1.7;
    color: #888;
}

.main-post i {
    color: #999;
}

.post-pagination {
    margin: 20px auto 30px;
    width: 400px;
    text-align: center;
}

.post-pagination a,
.post-pagination span {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

.post-pagination a:first-of-type {
    margin-right: 10px;
}

.post-pagination span {
    opacity: 0.5;
    cursor: not-allowed;
}

.post-pagination .previous-span {
    margin-right: 10px;
}

.post-pagination .next-span {
    margin-left: 10px;
}
/* End main post */

/* Start single post */
.single-post {
    position: relative;
}

.single-post .post-edit-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #eee;
    border-radius: 0 0 0 10px;
}

.single-post .post-edit-link i {
    color: #337ab7;
    margin-left: 5px;
}
/* End single post */

/* Start comments list */
.comments-list ul,
.comments-list ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments-count {
    padding: 20px;
    background-color: #e2e2e2;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    color: #909090;
    border: 1px solid #dedede;
}

.comments-list .comment img {
    padding: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 5px;
    margin-right: 5px;
}

.comments-list .comment .comment-meta {
    font-size: 12px;
    color: #777;
}

.comments-list .comment p {
    margin-top: 8px;
    color: #6f6f6f;
}

.comments-list .comment .says {
    display: none;
}

.comments-list > .comment {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.comments-list > .comment > .children > .comment {
    background-color: #eee;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.comments-list > .comment > .children > .comment .comment {
    background-color: #ddd;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #aaa;
}

.comment-respond label {
    display: block;
}

.comment-respond input[type='text'],
.comment-respond textarea {
    height: 40px;
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-respond textarea {
    height: 200px;
    resize: none;
}
/* End comments list */
